table {
  color: black !important;
}
.form-control {
  border-radius: 30px !important;
}

.btn-primary:default {
  font-weight: 700;
  border-radius: 30px;
  background-color: #cd5c5c;
  border-color: #f17171;
}
.btn-primary:hover {
  background-color: #dd7a7a;
}
